@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --font-destaque: 'Bebas Neue', coursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(144, 238, 180);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-image: linear-gradient( to bottom, rgb(72, 233, 134), rgb(12, 100, 64));
    color: white;
    min-height: 150px;
    padding: 25px;
}

header > h1{
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    margin: auto;
    font-weight: normal;
}

header > p {
    font-family: sans-serif;
    font-size: 1.2em;
    margin: auto;
}

nav {
    font-weight: bold;
    background-color: rgb(12, 100, 64);
    text-align: left;
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.452);
}

nav a {
    text-decoration: none;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0px 7px black;
    background-color: white;
    font: bold 1.1em sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
}

main h2 {
    font-family: var(--font-android);
    color:rgb(12, 100, 64);
    font-weight: normal;
}

main p {
    text-indent: 20px;
    margin: 12px 0px;
    text-align: justify;
    line-height: 1.8;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

section {
    padding: 10px;
    background-color: rgb(144, 238, 180);
    color: black;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.432);
}

section > h3 {
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

section ul {
    list-style-position: inside;
    columns: 2;
}

div.video {
    background-color: rgb(12, 100, 64);
    margin: 0px -30px 30px -30px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3 {
    text-align: center;
    background-color: seagreen;
}
